@using WebStore.Models.Auth
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MessageType"] mt-2">
        @TempData["Message"]
    </div>
}

<form asp-action="Login" class="mt-2 mb-2">
    <div class="row justify-content-center mb-2">
        <label asp-for="Username" class="col-sm-1 col-form-label">Username</label>
        <div class="col-sm-4">
            <input asp-for="Username" type="text" class="form-control">
            <span asp-validation-for="Username" class="text-danger xinvalid-feedback"></span>
        </div>
    </div>
    <div class="row justify-content-center mb-2">
        <label asp-for="Password" class="col-sm-1 col-form-label">Password</label>
        <div class="col-sm-4">
            <input asp-for="Password" type="password" class="form-control">
            <span asp-validation-for="Password" class="text-danger xinvalid-feedback"></span>
        </div>
    </div>
    <div class="row justify-content-center mb-2">
        <div class="col-5">
            <button type="submit" class="btn btn-sm btn-primary w-100">
                Login
            </button>
        </div>
    </div>
</form>
